.cardSlider {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    position: relative;
    padding: 2rem, 0;
}

.cardSlider>h1 {
    margin-left: 50px;
    font-size: 4rem;
}

.cardColumns {
    display: flex;
    width: max-content;
    gap: 1rem;
    transform: translateX(0px);
    transition: 0.3sec ease-in-out;
    margin-left: 50px;
}

.sliderAction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 30;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: 0.3sec ease-in-out;
}

.none {
    display: none;
}

.left {
    left: 0;
}

.right {
    right: 0;
}